
.display-grid{
    padding: 5rem 2rem 0 2rem;
    display: grid;
}
.home-section-1{
    display: grid;
    gap: 1rem;
}
.home-section-1 h2{
    font-family: 'LoadingContent';
    background: linear-gradient(90deg, #00204E 0%, #CC00FF 93.78%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home-section-1 h1{
    font-family: 'PrimaryContent';
    font-size: 36px;
    font-weight: 700;
    color: white;
    line-height: 1;
}
.home-section-2{
    display: grid;
    place-items: center;
}
.home-section-2 img{
    max-width: 150%;
}

.btn-secondary{
    background: none;
    color: #61ecff;
    box-shadow: inset 0 0 0 3px currentColor;
    margin-left: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    border: 0;
    border-radius: 10px;
    padding: 1em 2em;
    font-weight: var(--fw-bold);
    font-size: var(--fs-button);
    line-height: 1;
                
}
.button-grp{
    margin-top: 2rem;
}
.bg-page1::before{
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    background-image: url('../assets/images/Rectangle-page1-mobile.png');
    background-size: cover;
    background-repeat: no-repeat;
}
@media(min-width: 50em){
    .page-1{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .home-section-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0;
    }
    .home-section-2 img{
        min-width: 150%;
    }
    .home-section-1 h1{
        font-size: 48px;
        line-height: 1.1;

    }
    .home-section-1 h2{
        font-size: 16px;
    }
}
.bg-page2::before{
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}
.gift-icon{
    color: #007988;
    transform: scale(1.45);
}
.home-section-3{
    display: grid;
    gap: 2rem;
    text-align: center;
    color: rgba(3, 93, 104, 0.74);
}
.home-section-3 h1{
    font-family: 'PrimaryContent';
    font-size: 14px;
}
.home-section-3 p{
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 600;
}

.home-section-4{
    display: grid;
    gap: 2rem;
    margin-top: 2rem;
    place-items: center;
}

.grid-2{
    gap: 2rem;
}
.section-4{
    position: relative;
    padding-bottom: 20rem;
}
.section-4::after{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/18-04-ai 1.png');
    background-repeat: no-repeat;
    background-position: 110% 90%;
    background-size: 70%;
}
.home-section-3-img{
    max-width: 260px;
}
.home-section-5{
    display: grid;
    gap: 1rem;
}
.home-section-5 h1{
    font-family: 'PrimaryContent';
    font-size: 36px;
    color: white;
}
.home-section-5 p{
    font-family: 'Montserrat';
    font-size: 16px;
    color: white;
}
.read-more{
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  width: fit-content;
  cursor: pointer;
  background: linear-gradient(90deg, #00204E 0%, #CC00FF 93.78%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-section-6 img{
    transform: scaleX(-1);
}
.section-5{
    position: relative;
    padding-bottom: 15em;
}
.home-section-6{
    position: absolute;
    top: 55%;
    left: 10%;
    min-width: 410px;
}
.position-relative{
    position: relative;
}
.bg-tokenomics::before{
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('../assets/images/tokenomic-bg-mobile.png');
    filter: brightness(40%);
}
.align-center{
    place-items: center;
    padding-bottom: 5em;
}

.content-wrapper{
    display: grid;
    place-items: center;
    padding: 3em 2em;
    gap: 2rem;
    background-color: rgba(3, 93, 104, 1);
    border-radius: 20px;
}
.content-wrapper h1{
    color: white;
    font-family: 'PrimaryContent';
    font-size: 32px;
}

.grid-box{
    display: grid;
    padding: 2em 2em;
    gap: 2rem;
    place-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
}

.box{
    width: min(25ch, 45vw);
    border-radius: 20px;
    box-shadow: 0 0 10px 1px rgba(3, 93, 104, 1);
    padding: 2em 2em;
    background-color: rgba(2, 119, 133, 1);
    display: grid;
    gap: 2rem;
}

.icon-center{
    margin: auto;
}
.main-content{
    display: grid;
    gap: 0.5rem;
    color: white;
    font-family: 'Montserrat';
}
.main-content h2{
    font-weight: 700;
    font-size: 16px;
}
.main-content p{
    font-weight: 600;
    font-size: 14px;
}


.footer-1{
    display: grid;
    gap: 1rem;
}
.footer-para{
    color: rgba(3, 93, 104, 1);
    font-family: 'PrimaryContent';
    font-size: 32px;
}

.social-icon{
    display: grid;
    gap: 1rem;
}
.social-icon h2{
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 700;
    color: rgba(0, 169, 190, 1);
}
.social-icon-list{
    display: flex;
    gap: 1rem;
}
/* .bg-footer{
    padding-bottom: 10rem;
} */
.bg-footer::before{
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
}
.bg-footer::before{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/5300_2_02-ai 1.png'), url('../assets/images/Ellipse6.png');
    background-repeat: no-repeat;
    background-position: 110% 65%, 10% 120%;
    background-size: 70%, 100%
}
.footer-2{
    padding-top: 25em;
    padding-bottom: 2em;
    place-items: center;
}