 .primary-header {
    z-index: 5;
    padding-top: 1rem;
    display: grid;
    place-items: center;
    font-family: 'Montserrat';
    position: sticky;
    top: 0;
  }
  
  .nav-wrapper {
    padding: 1em 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
  }
  
  .mobile-nav-toggle {
    display: none;
  }
  
  .nav-list {
    font-size: 16px;
  }
  
  .nav-list {
    display: flex;
    gap: clamp(1rem, 5vw, 3rem);
    font-weight: var(--fw-semi-bold);
  }
  
  .nav-list{
    color: white;
  }
  
  .nav-list :hover,
  .nav-list :focus {
    color: black;
  }
  .logo{
    display: flex;
    align-items: center;
    color: white;
}
.logo p{
  font-family: "Montserrat";
}
.button {
    display: inline-flex; 
  }
  
.display-sm-hidden {
    display: none;
  }
.icon-close,
.icon-hamburger{
    color: white;
    z-index: 10;
}
@media(min-width: 50em){
    .display-md-inline-flex{
        display: inline-flex;
    }
}
  @media (max-width: 50em) {
    .nav-wrapper{
      background-color: #00444c;
      border-radius: 0;
      padding: 0 1em;
    }
    .primary-navigation {
      display: none;
      position: fixed;
      padding: var(--size-700);
      inset: 7rem var(--size-400) auto;
      max-width: 25rem;
      margin-left: auto;
      background: #00444c;
      border-radius: var(--size-100);
      box-shadow: 0 0 0.75em rgb(0, 0, 0, 0.05);
      z-index: 3;
    }
  
    .primary-header[data-overlay]::before {
      content: "";
      position: fixed;
      inset: 0;
      /* height: 100vh; */
      background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8));
    }
  
    .nav-list {
      display: grid;
      gap: var(--size-600);
      text-align: center;
      font-weight: var(--fw-bold);
    }
  
    .primary-navigation[data-visible] {
      display: block;
    }
  
    .mobile-nav-toggle {
      z-index: 10;
      display: block;
      cursor: pointer;
      background: transparent;
      border: 0;
      padding: 0.5em;
    }

    .logo img{
        transform: scale(0.8);
    }

  }

 